SyncwithProduct/SyncwithProduct/29-Apr-2013/DiagnosticCenter/Diagnostic_Center/App_WebReferences/ServiceReference2/OliveService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://87.106.184.4:84/CliqServiceBeta/OliveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OliveCliqService" />
  <xs:import schemaLocation="http://87.106.184.4:84/CliqServiceBeta/OliveService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="SignInResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoctorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClinicBranchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateDoctorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToMyVault">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="myVault" nillable="true" type="q2:Vault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToMyVaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToMyVaultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyVault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyVaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMyVaultResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastDoctorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorsListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DoctorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFriendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFriendsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DoctorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnFriendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetTestsResult" nillable="true" type="q3:ArrayOfTestInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vt_datam_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetAttributesResult" nillable="true" type="q4:ArrayOfAttributeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMyVault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TestName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttributeMinRange" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttributeMaxRange" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MinAge" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MaxAge" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMyVaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchMyVaultResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="SearchResult" nillable="true" type="q5:SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetRecipientsResult" nillable="true" type="q6:ArrayOfRecipient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetThemResult" nillable="true" type="q7:ArrayOfRecipient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recipients" nillable="true" type="q8:ArrayOfstring" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LabID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestSpecimentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CliqSpecimenID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TestType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestSpecimentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetTestSpecimentListResult" nillable="true" type="q9:ArrayOfSpecimen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecimenTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="template" nillable="true" type="q10:SpecimenTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecimenTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpecimenTemplateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpecimenID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetResultTemplateResult" nillable="true" type="q11:ArrayOfResultTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpecimenID" type="xs:int" />
        <xs:element minOccurs="0" name="TestID" type="xs:long" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetTemplatesResult" nillable="true" type="q12:ArrayOfAllTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestSpecimentListDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CliqSpecimenID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TestType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestSpecimentListDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetTestSpecimentListDropDownResult" nillable="true" type="q13:ArrayOfSpecimenDropDown" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CliqPanelID" type="xs:int" />
        <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetPanelTestsResult" nillable="true" type="q14:ArrayOfPanelTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelTestRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelTestRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPanelTestRequestsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelRequestsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="panelid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicbranch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelRequestsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPanelRequestsDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequestDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveorReject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="masterid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanellegderData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="panelid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanellegderDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPanellegderDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GEtCliqueClinicTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GEtCliqueClinicTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GEtCliqueClinicTestsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetLabTestsResult" nillable="true" type="q15:ArrayOfPanelTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterTestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterTestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetMasterTestListResult" nillable="true" type="q16:ArrayOfPanelTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTestRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTestRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetNewTestRequestsResult" nillable="true" type="q17:ArrayOfNewTestsRMI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTestRequestsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTestRequestsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/OliveCliqService" minOccurs="0" name="GetNewTestRequestsAllResult" nillable="true" type="q18:ArrayOfNewTestsRMI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateorderstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateorderstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateorderstatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClinicBranchID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConnectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConnectionString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllConnectionStringResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHospitalsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelRequestsDAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="panelid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicbranch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patient" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelRequestsDAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPanelRequestsDAPResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelSpecificRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPanelSpecificRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPanelSpecificRequestResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>